body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.todo {
  width: clamp(576px, 50vw, 700px);
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}

.todo h1 {
  margin: 10px 0;
  font-size: 1.6rem;
}

.todo-form {
  display: flex;
  gap: 10px;
}
.todo-form .todo-input {
  flex-grow: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
}

.todo-form .btn-add {
  padding: 5px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: rgb(14, 98, 217);
}

.empty-task {
  margin: 15px 0px;
  padding: 20px;
  border: 1px dashed #ccc;
  border-radius: 10px;
  text-align: center;
}

.status {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
